*.jl.cov
*.jl.*.cov
*.jl.mem
*.jl~
*~
.DS_Store

*.jl.cov
*.jl.*.cov
*.jl.mem

docs/build/
docs/site/

_local/
.ipynb_checkpoints/
.vscode/
*.ipynb_checkpoints
**/*.ipynb_checkpoints
**/**/*.ipynb_checkpoints
*.out
*.log

*.jld2
**/*.jld2
**/**/*.jld2

*.jld
**/*.jld
**/**/*.jld

_*.dat
*.swp
__pycache__/

*.aux
